@import "mixins";

.container {
  display: flex;
  flex-direction: column;
  margin: 88px 24px;
  max-width: 327px;
  border-radius: 10px;
  overflow: hidden;

  @include desktop {
    flex-direction: row;
    flex: 1;
    max-width: 920px;
    max-height: 500px;
  }
  &__item {
    padding: 50px;
    &__sedan {
      background-color: $brightOrange;
    }
    &__suv {
      background-color: $darkCyan;
    }
    &__luxury {
      background-color: $veryDarkCyan;
    }
  }
}

.button {
  width: 9.375rem;
  height: 3.125rem;
  border: 2px solid $veryLightGray;
  border-radius: 25px;
  &:hover {
    background-color: inherit;
    color: $veryLightGray;
    cursor: pointer;
  }
  &__sedan {
    color: $brightOrange;
  }
  &__suv {
    color: $darkCyan;
  }
  &__luxury {
    color: $veryDarkCyan;
  }
  @include desktop {
    margin-bottom: 46px;
  }
}

.title {
  font-family: "Big Shoulders Display", cursive;
}

.paragraph {
  line-height: 2;
  color: $transparentWhite;
  margin-bottom: 30px;
  @include desktop {
    margin-top: 20px;
    margin-bottom: 75px;
  }
}
